<p id="notice"><%= notice %></p>
<%= @user_id %>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Need:</strong>
  <%= @post.need_id %>
</p>

<p>
  <strong>Need type:</strong>
  <%= @post.need_type %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
