<p id="notice"><%= notice %></p>
<%= @user_id %>
<p>
  <strong>Organization name:</strong>
  <%= @organization.organization_name %>
</p>

<p>
  <strong>Ein:</strong>
  <%= @organization.ein %>
</p>

<p>
  <strong>Focus:</strong>
  <%= @organization.focus %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organization.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @organization.location %>
</p>

<p>
  <strong>Website:</strong>
  <%= @organization.website %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
