<%= form_for(@contributor) do |f| %>
  <% if @contributor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contributor.errors.count, "error") %> prohibited this contributor from being saved:</h2>
      <ul>
      <% @contributor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
  <%= f.fields_for :user_attributes do |u| %>
  <div class="input-field field col s6">
    <%= f.label :email %><br>
    <%= u.text_field :email %>
  </div>
  <div class="input-field field col s6">
    <%= u.label :password %><br>
    <%= u.text_field :password %>
  </div>
  <% end %>
  </div>
  <div class="row">
   <div class="input-field field col s6">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="input-field field col s6">
    <%= f.label :skills %><br>
    <%= f.text_field :skill %>
  </div>
  </div>
  <div class="row">
  <div class="input-field field col s6">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
   <div class="input-field field col s6">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  </div>
  <div class="actions waves-effect btn-large deep-orange accent-3">
    <%= f.submit %>
  </div>
<% end %>
