<div class="container">
<p id="notice"><%= notice %></p>
<h1>Listing Contributors</h1>
<table>
  <thead>
    <tr>
      <th>Skill</th>
      <th>Website</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contributors.each do |contributor| %>
      <tr>
        <td><%= contributor.skill %></td>
        <td><%= contributor.website %></td>
        <td><%= contributor.company %></td>
        <td><%= link_to 'Show', contributor %></td>
        <td><%= link_to 'Edit', edit_contributor_path(contributor) %></td>
        <td><%= link_to 'Destroy', contributor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Contributor', new_contributor_path %>
</div>
